#Tutorial - Manipulating Data with pandas


## What is pandas

As described in the [pandas documentation](http://pandas.pydata.org/pandas-docs/dev/), "pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python."

## pandas in Quantopian Research
The get_pricing function in research returns data in pandas objects. This could be a panel, dataframe or series depending on the input values. Additionally, data imported via local_csv is imported into pandas objects. As a result, much of the data manipulation you will do in the research environment will include manipulating pandas objects. 


##10 Minutes to pandas

This is a short introduction to pandas, geared mainly for new users. Thank you very much to the pandas development team for letting us reuse this. The original is here (http://pandas.pydata.org/pandas-docs/dev/10min.html)

Customarily, we import as follows

In [ ]:
#Import pandas as well as numpy and matplotlib, 3 important libraries for data manipulation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h2>Object Creation</h2>

See the Data Structure Intro section (http://pandas.pydata.org/pandas-docs/dev/dsintro.html#dsintro)

Creating a Series by passing a list of values, letting pandas create a default integer index

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])
s

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns.

In [ ]:
dates = pd.date_range('20130101',periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [ ]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:            'B' : pd.Timestamp('20130102'),
   ....:            'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:            'D' : np.array([3] * 4,dtype='int32'),
   ....:            'E' : pd.Categorical(["test","train","test","train"]),
   ....:            'F' : 'foo' })
df2

Having specific dtypes (http://pandas.pydata.org/pandas-docs/dev/basics.html#basics-dtypes)

In [ ]:
df2.dtypes

If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled. 

Press tab in the next cell to see a subset of the attributes that will be completed:

In [ ]:
df2.

As you can see, the columns A, B, C, and D are automatically tab completed. E is there as well; the rest of the attributes have been truncated for brevity.

<h1>Viewing Data</h1>

See the Basics section - http://pandas.pydata.org/pandas-docs/stable/basics.html#basics

See the top & bottom rows of the frame

In [ ]:
df.head()

In [ ]:
df.tail()

Display the index,columns, and the underlying numpy data

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

Describe shows a quick statistic summary of your data

In [ ]:
df.describe()

Transposing your data

In [ ]:
df.T

Sorting by an axis

In [ ]:
df.sort_index(axis=1, ascending=True)

Sorting by values

In [ ]:
df.sort(columns='B')

<h2>Selection</h2>

<b>Note</b> While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix.

See the indexing documentation Indexing and Selecting Data (http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing) and MultiIndex / Advanced Indexing (http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced)

<h3>Getting</h3>

Selecting a single column, which yields a Series, equivalent to df.A

In [ ]:
df['A']

Selecting via [ ], which slices the rows.

In [ ]:
df[0:3]

In [ ]:
df['20130104':'20130106']

<h3>Selection by Label</h3>

See more in Selection by Label (http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label)

For getting a cross section using a label

In [ ]:
df.loc[dates[0]]

Selecting on a multi-axis by label

In [ ]:
df.loc[:,['A','B']]

Showing label slicing, both endpoints are included

In [ ]:
df.loc['20130101':'20130103','A':'B']

Reduction in the dimensions of the returned object

In [ ]:
df.loc['20130101','A':'B']

For getting a scalar value

In [ ]:
df.loc[dates[0],'A']

For getting fast access to a scalar (equiv to the prior method)

In [ ]:
df.at[dates[0],'A']

<h3>Selection by Position</h3>

See more in Selection by Position (http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer)

Select via the position of the passed integers

In [ ]:
df.iloc[3]

By integer slices, acting similar to numpy/python

In [ ]:
df.iloc[3:5,0:2]

By lists of integer position locations, similar to the numpy/python style

In [ ]:
df.iloc[[1,2,4],[0,2]]

For slicing rows explicitly

In [ ]:
df.iloc[1:3,:]

For slicing columns explicitly

In [ ]:
df.iloc[:,1:3]

For getting a value explicitly

In [ ]:
df.iloc[1,1]

For getting fast access to a scalar (equiv to the prior method)

In [ ]:
df.iat[1,1]

<h3>Boolean Indexing</h3>

Using a single column’s values to select data.

In [ ]:
df[df.A>0]

A where operation for getting.

In [ ]:
df[df>0]

Using the isin() method for filtering:

In [ ]:
df2=df.copy()

df2['E']=['one', 'one','two','three','four','three']

df2

In [ ]:
df2[df2['E'].isin(['two','four'])]

<h3>Setting</h3>

Setting a new column automatically aligns the data by the indexes

In [ ]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))

s1

In [ ]:
df['F'] = s1

Setting values by label

In [ ]:
df.at[dates[0],'A'] = 0

Setting values by position

In [ ]:
df.iat[0,1] = 0

Setting by assigning with a numpy array

In [ ]:
df.loc[:,'D'] = np.array([5] * len(df))

The result of the prior setting operations

In [ ]:
df

A where operation with setting.

In [ ]:
df2 = df.copy()

df2[df2 > 0] = -df2

df2

<h2>Missing Data</h2>

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the Missing Data section (http://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data)

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [ ]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])

df1.loc[dates[0]:dates[1],'E'] = 1

df1

To drop any rows that have missing data.

In [ ]:
df1.dropna(how='any')

Filling missing data

In [ ]:
df1.fillna(value=5)

To get the boolean mask where values are nan

In [ ]:
pd.isnull(df1)

<h2>Operations</h2>

See the Basic section on Binary Ops (http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-binop)

<h3>Stats</h3>

Operations in general exclude missing data.

Performing a descriptive statistic

In [ ]:
df.mean()

Same operation on the other axis

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2)

s

In [ ]:
df.sub(s,axis='index')

<h3>Apply</h3>

Applying functions to the data

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

<h3>Histogramming</h3>

See more at Histogramming and Discretization (http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-discretization)

In [ ]:
s = pd.Series(np.random.randint(0,7,size=10))

s

In [ ]:
s.value_counts()

<h3>String Methods</h3>

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses regular expressions (https://docs.python.org/2/library/re.html) by default (and in some cases always uses them). See more at Vectorized String Methods (http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods).

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

s.str.lower()

<h2>Merge</h2>

<h3>Concat</h3>
pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

See the Merging section (http://pandas.pydata.org/pandas-docs/stable/merging.html#merging)
                         

Concatenating pandas objects together

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

df

In [ ]:
# break it into pieces

pieces = [df[:3], df[3:7], df[7:]]

pd.concat(pieces)

<h2>Join</h2>

SQL style merges. See the Database style joining (http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join)

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on='key')

<h2>Append</h2>

Append rows to a dataframe. See the Appending (http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation)

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

df

In [ ]:
s = df.iloc[3]

df.append(s, ignore_index=True)

<h2>Grouping</h2>

By “group by” we are referring to a process involving one or more of the following steps, 

- Splitting the data into groups based on some criteria
- Applying a function to each group independently
- Combining the results into a data structure

See the Grouping section (http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby)

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ....:                          'foo', 'bar', 'foo', 'foo'],
   ....:                    'B' : ['one', 'one', 'two', 'three',
   ....:                          'two', 'two', 'one', 'three'],
   ....:                    'C' : np.random.randn(8),
   ....:                    'D' : np.random.randn(8)})
   ....: 
        
df

Grouping and then applying a function sum to the resulting groups.

In [ ]:
df.groupby('A').sum()

Grouping by multiple columns forms a hierarchical index, which we then apply the function.

In [ ]:
df.groupby(['A','B']).sum()

<h2>Reshaping</h2>

See the sections on Hierarchical Indexing (http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-hierarchical) and Reshaping (http://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-stacking).

<h3>Stack</h3>

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
   ....:                      'foo', 'foo', 'qux', 'qux'],
   ....:                     ['one', 'two', 'one', 'two',
   ....:                      'one', 'two', 'one', 'two']]))
   ....: 
        
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

df2 = df[:4]

df2

The stack function “compresses” a level in the DataFrame’s columns.

In [ ]:
stacked = df2.stack()

stacked

With a “stacked” DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack is unstack, which by default unstacks the last level:

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

<h3>Pivot Tables</h3>

See the section on Pivot Tables. (http://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-pivot)

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
   .....:                    'B' : ['A', 'B', 'C'] * 4,
   .....:                    'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
   .....:                    'D' : np.random.randn(12),
   .....:                    'E' : np.random.randn(12)})
   .....: 
        
df

We can produce pivot tables from this data very easily:

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

<h2>Time Series</h2>

pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to, financial applications. See the Time Series section (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#timeseries)

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

ts.resample('5Min', how='sum')

Time zone representation

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
 
ts = pd.Series(np.random.randn(len(rng)), rng)

ts

In [ ]:
ts_utc = ts.tz_localize('UTC')

ts_utc

Convert to another time zone

In [ ]:
ts_utc.tz_convert('US/Eastern')

Converting between time span representations

In [ ]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

In [ ]:
ps = ts.to_period()

ps

In [ ]:
ps.to_timestamp()

Converting between period and timestamp enables some convenient arithmetic functions to be used. In the following example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following the quarter end:

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

ts = pd.Series(np.random.randn(len(prng)), prng)

ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9

ts.head()

<h2>Categoricals</h2>

Since version 0.15, pandas can include categorical data in a DataFrame. For full docs, see the categorical introduction (http://pandas.pydata.org/pandas-docs/stable/categorical.html#categorical) and the API documentation (http://pandas.pydata.org/pandas-docs/stable/api.html#api-categorical).

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})

df

In [ ]:
df["grade"] = df["raw_grade"].astype("category")

df["grade"]

Rename the categories to more meaningful names (assigning to Series.cat.categories is inplace!)

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

Reorder the categories and simultaneously add the missing categories (methods under Series .cat return a new Series per default).

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])

df["grade"]

Sorting is per order in the categories, not lexical order.

In [ ]:
df.sort("grade")

Grouping by a categorical column shows also empty categories.

In [ ]:
df.groupby("grade").size()

<h3>Plotting</h3>

Plotting docs - http://pandas.pydata.org/pandas-docs/stable/visualization.html#visualization

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

ts = ts.cumsum()

ts.plot()

On DataFrame, plot is a convenience to plot all of the columns with labels:

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
   .....:                   columns=['A', 'B', 'C', 'D'])
   .....: 
        
df = df.cumsum()

plt.figure(); df.plot(); plt.legend(loc='best')